.dm_layout {
  width: 1248px;
  margin: auto;
	/*background: url("../images/310.jpg");*/
	background: linear-gradient(to bottom, rgba(20, 20, 20, 1) 0%, rgba(130, 130, 130, 1) 100%);
}

.dm_layout_top {
	padding-bottom: 10px;
	border-bottom: 1px groove #ccc;
}

.dm_content {
	width: 890px;
	float: left;
	min-height: 600px;
}

.dm_layout_left {
	width: 340px;
	float: left;
}

.dm_layout_bottom {
	padding-top: 20px;
	border-top: 1px groove #ccc;
}