.dm_layout {
  width: 1248px;
  margin: auto;
	background: url("../images/310.jpg");
	box-shadow: 1px 1px 10px #999;
}

.dm_layout_top {
}

.dm_content {
	width: 890px;
	float: left;
}

.dm_layout_left {
	width: 340px;
	float: left;
}

.dm_layout_right {
	width: 890px;
	float: left;
}

.dm_layout_bottom {
}