body {
	background-color: #ccc;
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	opacity: .96;
	margin: 0;
}

.elements .element {
  list-style: disc inside;
  padding: 1em;
}

.pager {
  text-align: center;
}

.pager li {
  display: inline;
  margin: 0 5px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.navigation_bread_crumb li, .pager li {
  display: inline;
}

.header_ul {
	list-style: none;
	margin: 10px 30px;
	padding: 0;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 14px;
}

.header_ul li {
	display: inline-block;
}

.logo_title {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.logo_title a {
	text-decoration: none;
	color: #fff;
}

.header_menu_li {
	vertical-align: top;
	margin-left: 50px;
}

.header_menu {
	list-style: none;
	margin: 70px 0 0 20px;
	padding: 0;
}

.header_menu li {
	margin-left: 10px;
	font-weight: bold;
}

.header_menu li a {
	text-decoration: none;
	color: #fff;
}

.header_menu li a:hover {
	color: darkred;
}
.menu_delimer {
	display: inline-block;
	background: url("../images/menu_delimer.png") no-repeat;
	width: 1px;
	height: 20px;
	margin: 0 0 0 10px;
	vertical-align: top;
}

.header_feedback {
	margin-left: 90px;
	vertical-align: top;
	color: #fff;
}

.header_feedback_ul {
	text-align: center;
	list-style: none;
}

.header_feedback_ul li{
	margin: 7px 0 0 0;
	display: list-item;
}

.header_mail a {
	color: red;
	font-size: 16px;
}

.header_phone {
	color: red;
	font-size: 20px;
}

.callback_form_button {
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	padding: 5px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	color: #333;
	font-size: 14px;
}

.callback_form_button:hover {
	box-shadow: 1px 1px 15px darkred;
	color: darkred;
}

.header_categories_menu {
	cursor: pointer;
	margin: 10px auto;
	padding: 10px 0 0 0;
	height: 117px;
	width: 940px;
	background: url("../images/header_categories_bg.png") -10px 0px no-repeat;
	text-align: center;
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
		-moz-border-radius:10px / 100px;
	border-radius:10px / 100px;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
	background: #fff;
}

.header_categories_menu:hover {
	box-shadow: 1px 1px 15px #ccc;
}

.header_categories_menu li {
	display: inline-block;
	margin-left: 20px;
	height: 101px;
}


.category_name_link {
	margin: 0;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 100px;
	line-height: 12px;
}

.category_name_link a {
	text-decoration: none;
	color: #333;
}

.category_name_link .dm_current {
	color: darkred;
}

.pCat {
	display: none;
}

.pCatBtn {
	cursor: pointer;
}

.mainCategoryTitle {
	height: 116px;
	position: absolute;
	margin: 0 0 0 250px;
}

.mainCategoryTitle img {
	margin: 20px 0 0 0;
	display: inline-block;
}

.mainCategoryTitle p {
	margin: 20px 0 0 0;
	width: 300px;
	display: inline-block;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-style: italic;
	color: indianred;
	font-size: 28px;
	vertical-align: top;
}

.cats {
	display: none;
	margin-top: 10px;
	height: 116px;
}

.cats li {
	vertical-align: top;
}

.cats li:hover p, .cats li:hover a, .firm_bg_ul li:hover p, .firm_bg_ul li:hover a {
	color: darkred;
}

.hiddenDiv {
	list-style: none;
}

.hiddenDiv li {
	display: inline-block;
}

.contactForm {
	display: none;
}

.contact_form_table tr td {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 14px;
	padding: 5px;
}

.contact_form_table tr td input{
	margin-right: 5px;
}

.contact_form_table textarea {
	resize: none;
	width: 400px;
}

.error_list {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	color: darkred;
	font-size: 10px;
}

.firm_bg {
	width: 1200px;
	height: 109px;
	/*background: url("../images/firm_bg.png") no-repeat;*/
	background: #fff;
	margin: 0 auto;
	border-radius: 5px;
	text-align: center;
}

.firm_bg_ul {
	list-style: none;
	margin: 0 auto;
	display: inline-block;
}

.firm_bg_ul li{
	vertical-align: top;
	margin: 20px 20px 0 20px;
	display: inline-block;
}

.firm_bg_ul li a {
	display: block;
}

.firm_bg_ul li span {
	display: block;
	opacity: .7;
}

.firm_bg_ul li:hover span {
	opacity: 1;
}

.tags_ul {
	list-style: none;
	margin: 10px 150px;
}

.tags_ul li{
	display: inline-block;
	margin: 5px 20px;
}

.tags_ul li .dm_current {
	color: #eee;
}

.tags_ul li a {
	text-decoration: none;
	color: #ccc;
	text-shadow: 1px 1px 5px #000;
}

.tags_ul li a:hover {
	text-shadow: 1px 1px 3px darkred;
}

.error {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 10px;
	color: red;
}

.productListUl {
	list-style: none;
	margin: 20px;
	padding: 0;
}

.productListUl li {
	line-height: 12px;
	border-radius: 2px;
	box-shadow: 1px 1px 10px #333;
	background: #ccc;
	display: inline-block;
	width: 200px;
	height: 170px;
	margin: 20px 5px;
	text-align: center;
	vertical-align: top;
}

.productListUl li:hover {
	box-shadow: 1px 1px 15px darkred;
}

.productListUl li:hover a{
	color: darkred;
}

.productListUl li a {
	display: block;
	font-size: 12px;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #333;
	margin: 0;
}

.productListUl li a img {
	border-radius: 5px 5px 0 0;
}

.productShowDiv {
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	color: #333;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	width: 850px;
	margin: 38px auto 20px auto;
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	border: 1px groove #000;
	box-shadow: 1px 1px 10px #333;
}

.productShowHead div {
	display: inline-block;
	vertical-align: top;
}

.productShowHead {
	margin: 0 0 50px 0;
}

.productShowImg {
	box-shadow: 1px 1px 5px #ccc;
	height: 300px;
}

.productShowTD {
	width: 300px;
	margin: 0 0 0 20px;
}

.productShowTitle {
	width: 500px;
	color: darkred;
	text-shadow: 1px 1px 10px #ddd;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-style: italic;
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	box-shadow: 1px 1px 1px #333;
	padding: 3px;
	border-radius: 3px;
}

.productShowPrevdesc {
	width: 490px;
	text-align: justify;
	margin: 0 10px;
	font-size: 14px;
}

.productShowDescription {
}

.productShowCost {
	display: block;
	width: 200px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #333;
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	text-align: center;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 18px;
	color: darkred;
	margin: 10px 20px 20px 55px;
	line-height: 24px;
}

.productVertDelimer {
	margin: 0 10px;
	padding: 0;
	width: 2px;
	height: 300px;
	border-left: 1px groove #eee;
}

.productHorDelimer {
	margin: 10px auto;
	padding: 0;
	width: 100%;
	height: 2px;
	border-top: 3px groove #eee;
}

.specTableTitle {
	margin-top: 20px;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	text-align: center;
	font-size: 20px;
}

.specTable, .productShowBody table {
	margin: 10px auto 10px auto;
	width: 850px;
	text-align: center;
}

.specTable td, .productShowBody table td {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-style: italic;
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	box-shadow: 1px 1px 1px #333;
	width: 500px;
	padding: 10px;
	border: 1px groove #ccc;
}

.categoryListMenu {
	margin: 10px 0 40px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

.categoryListMenu a:link{
	text-decoration: none;
}

.categoryListMenu a, .categoryListMenu .dm_current {
	font-family: Arial;
	text-shadow: 1px 1px 1px #ccc;
	border: 1px solid #000;
	margin-bottom: 2px;
	background: linear-gradient(to bottom, rgba(218, 218, 218, 1) 0%, rgba(253, 253, 253, 1) 100%);
	border-radius: 2px;
	padding: 9px 10px;
	font-size: 16px;
	line-height: 16px;
	display: block;
	color: #333;
	text-decoration: none;
}

.categoryListMenu a.link:hover, .categoryListMenu .dm_current, .categoryListMenu .dm_parent {
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	color: #fff;
	background: darkred;
	border-color: red;
}

.categoryChildren {
	display: none;
	list-style: none;
	padding: 0 0 0 20px;
}

.categoryChildren a {
	font-size: 14px;
	line-height: 16px;
	padding: 6px 10px;
}

.categoryChildren .dm_current {
	font-size: 14px;
	line-height: 16px;
	padding: 6px 14px;
}

.categoryListMenu a.noLink {
	background: linear-gradient(to bottom, rgba(200, 200, 200, 1) 0%, rgba(100, 100, 100, 1) 100%);
	color: #111;
	text-shadow: 1px 1px 1px #bbb;
}

.categoryParent {
	cursor: pointer;
}

.categoryParent:hover a {
	color: #ddd;
	text-shadow: 1px 1px 5px #666;
}

.categoryParent a {
	width: 268px;
	padding: 9px 40px 9px 10px;
}

.categoryParent img {
	margin: 5px 0 0 -30px;
}

.categoryParent a, .categoryParent img {
	display: inline-block;
	vertical-align: top;
}

.productElementTitle {
	padding: 20px 0 0 0;
	margin: -2px 0 0 0;
	border-radius: 0 0 5px 5px;
	height: 35px;
	display: block;
	background: linear-gradient(to bottom, rgba(253, 253, 253, 1) 0%, rgba(100, 100, 100, 1) 100%);
	text-shadow: 1px 1px 1px #ddd;
}

.searchInput {
	border-radius: 5px;
	height: 30px;
	background: linear-gradient(to bottom, rgba(230, 230, 230, 1) 0%, rgba(253, 253, 253, 1) 100%);
	width: 272px;
	font-size: 18px;
	color: #333;
	font-family: Arial;
}

.search_form input[type=submit] {
	width: 37px;
	height: 36px;
	border: none;
	margin: 2px 0 0 5px;
	padding: 0;
	cursor: pointer;
	background: url("../images/searchButton.png") no-repeat;
}

.search_results h1 {
	margin: 0 0 0 20px;
	color: #ddd;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 26px;
}

.search_form {
	margin: 40px 0 0 20px;
}

.search_form input{
	vertical-align: top;
}

.search_results {
	margin: 40px 0 0 20px;
}

.search_results {
	color: #ddd;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
}

.search_result .link {
	text-decoration: none;
}

.search_result .link:hover {
	text-decoration: underline;
	color: #ddd;
}

.search_result .page_name {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	color: #ddd;
}

.contactDialog {
	position: fixed !important;
}

.productGalleryUl {
	list-style: none;
	margin: 10px;
	padding: 0;
}

.productGalleryUl li {
	display: inline-block;
	margin: 0 0 0 10px;
}

.mainSlider {
	width: 830px;
	height: 300px;
	background: #fff;
	margin: 20px 0 0 25px;
	padding: 0;
	box-shadow: 1px 1px 10px #333;
}

.hidden {
	display: none;
	opacity: 0;
}

.sliderImg {
	padding: 20px 0 0 0;
	margin: 0 0 0 150px;
	display: inline-block;
}

.sliderText {
	display: inline-block;
	vertical-align: top;
}

.slideTitle {
	margin: 70px 0 0 30px;
	text-align: right;
	width: 300px;
	line-height: 20px;
}

.slideTitle a {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 20px;
	color: #333;
	line-height: 20px;
}

.slideCost {
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 18px;
	text-align: right;
	margin: 20px 0 0 50px;
	color: #333;
}