body {
	background: lightgray;
	margin: 0;
}

.elements .element {
  list-style: disc inside;
  padding: 1em;
}

.pager {
  text-align: center;
}

.pager li {
  display: inline;
  margin: 0 5px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.navigation_bread_crumb li, .pager li {
  display: inline;
}

.header_ul {
	list-style: none;
	margin: 10px 30px;
	padding: 0;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 14px;
}

.header_ul li {
	display: inline-block;
}

.logo_title {
	font-weight: bold;
	text-shadow: 1px 1px 10px #ccc;
	margin: 0;
	padding: 0;
}

.logo_title a {
	text-decoration: none;
	color: #333;
}

.header_menu_li {
	vertical-align: top;
	margin-left: 110px;
}

.header_menu {
	list-style: none;
	margin: 70px 0 0 20px;
	padding: 0;
}

.header_menu li {
	margin-left: 10px;
	font-weight: bold;
}

.header_menu li a {
	text-decoration: none;
	color: #777;
}

.header_menu li a:hover {
	color: darkred;
}
.menu_delimer {
	display: inline-block;
	background: url("../images/menu_delimer.png") no-repeat;
	width: 1px;
	height: 20px;
	margin: 0 0 0 10px;
	vertical-align: top;
}

.header_feedback {
	margin-left: 110px;
	vertical-align: top;
	color: #333;
}

.header_feedback_ul {
	list-style: none;
}

.header_feedback_ul li{
	margin: 7px 0 0 0;
	display: list-item;
}

.header_mail a {
	color: darkred;
	font-size: 16px;
}

.header_phone {
	color: darkred;
	font-size: 20px;
}

.callback_form_button {
	border: 1px groove grey;
	background: azure;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
	-moz-border-radius:10px / 100px;
	box-shadow: 1px 1px 5px #ccc;
}

.callback_form_button:hover {
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.header_categories_menu {
	cursor: pointer;
	margin: 10px auto;
	padding: 10px 0 0 0;
	height: 117px;
	width: 940px;
	background: url("../images/header_categories_bg.png") -10px 0px no-repeat;
	box-shadow: 1px 1px 5px #ccc;
	text-align: center;
	top:10px;
	bottom:10px;
	left:0;
	right:50%;
		-moz-border-radius:10px / 100px;
	border-radius:10px / 100px;
}

.header_categories_menu:hover {
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
	box-shadow:0 0 15px rgba(0,0,0,0.6);
}

.header_categories_menu li {
	display: inline-block;
	margin-left: 20px;
	height: 101px;
}


.category_name_link {
	margin: 0;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	width: 100px;
	line-height: 12px;
}

.category_name_link a {
	text-decoration: none;
	color: #333;
}

.category_name_link .dm_current {
	color: darkred;
}

.pCatBtn {
	cursor: pointer;
}

.mainCategoryTitle {
	height: 116px;
	position: absolute;
	margin: 0 0 0 250px;
}

.mainCategoryTitle img {
	margin: 20px 0 0 0;
	display: inline-block;
}

.mainCategoryTitle p {
	margin: 20px 0 0 0;
	width: 300px;
	display: inline-block;
	font-family: Trebuchet MS, Helvetica CY, Sans-serif;
	font-style: italic;
	color: indianred;
	font-size: 28px;
	vertical-align: top;
}

.cats {
	display: none;
	margin-top: 10px;
	height: 116px;
}

.hiddenDiv {
	list-style: none;
}

.hiddenDiv li {
	display: inline-block;
}